<div class="card">
    <h4>ORGANIZATION</h4>

    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <div class="my-2">
            </div>
        </ng-template>

        <ng-template pTemplate="right">
            <button pButton pRipple icon="pi pi-save" class="p-button-success mr-2">Save</button>

            <button pButton pRipple label="Clear" icon="pi pi-refresh" class="p-button-warning"></button>
        </ng-template>
    </p-toolbar>

    <p-toast></p-toast>

    <form [formGroup]="OrganizationForm" style="margin-top: 10px;">
        <div class="grid p-fluid mt-3">

            <div class="field col-12 md:col-3">
                <span class="p-float-label">
                    <input type="text" id="name" pInputText formControlName="name">
                    <label for="name">Name<span class="mandatory">*</span></label>
                </span>
                <small id="name-help">{{ formError("name" ,OrganizationForm)}}</small>
            </div>


            <div class="field col-12 md:col-3">
                <span class="p-float-label">
                    <input type="text" id="shortName" pInputText formControlName="shortName">
                    <label for="shortName">Short Name<span class="mandatory">*</span></label>
                </span>
                <small id="shortName-help">{{ formError("shortName" ,OrganizationForm)}}</small>
            </div>
        </div>

        
        <div class="col-12 md:col-12">
            <div class="card">
                <p-tabView orientation="left">
                    <p-tabPanel header="Address Details" class="line-height-3 m-0">
                        <div class="col-12 md:col-12">
                            <div class="field col-12 md:col-3">
                                <span class="p-float-label">
                                    <input type="text" id="address_One" pInputText formControlName="addressOne">
                                    <label for="address_One">Address-1</label>
                                </span>
                                <small id="address_One-help">{{ formError("addressOne" ,OrganizationForm)}}</small>
                            </div>
                        
                            <div class="field col-12 md:col-3">
                                <span class="p-float-label">
                                    <input type="text" id="address_Two" pInputText formControlName="addressTwo">
                                    <label for="address_Two">Address-2</label>
                                </span>
                                <small id="address_Two-help">{{ formError("addressTwo" ,OrganizationForm)}}</small>
                            </div>
                        
                            <div class="field col-12 md:col-3">
                                <span class="p-float-label">
                                    <input type="text" id="address_Three" pInputText formControlName="addressThree">
                                    <label for="address_Three">Address-3</label>
                                </span>
                                <small id="address_Three-help">{{ formError("addressThree" ,OrganizationForm)}}</small>
                            </div>
                        
                            <div class="field col-12 md:col-3">
                                <span class="p-float-label">
                                    <input type="text" id="address_Four" pInputText formControlName="addressFour">
                                    <label for="address_Four">Address-4</label>
                                </span>
                                <small id="address_Four-help">{{ formError("addressFour" ,OrganizationForm)}}</small>
                            </div>
                        
                            <div class="field col-12 md:col-3">
                                <span class="p-float-label">
                                    <input type="text" id="city" pInputText formControlName="city">
                                    <label for="city">City</label>
                                </span>
                                <small id="city-help">{{ formError("city" ,OrganizationForm)}}</small>
                            </div>
                        
                            <div class="field col-12 md:col-3">
                                <span class="p-float-label">
                                    <input type="text" id="state" pInputText formControlName="state">
                                    <label for="state">State</label>
                                </span>
                                <small id="state-help">{{ formError("state" ,OrganizationForm)}}</small>
                            </div>
                        
                            <div class="field col-12 md:col-3">
                                <span class="p-float-label">
                                    <input type="text" id="country" pInputText formControlName="country">
                                    <label for="country">Country</label>
                                </span>
                                <small id="country-help">{{ formError("country" ,OrganizationForm)}}</small>
                            </div>
                        
                            <div class="field col-12 md:col-3">
                                <span class="p-float-label">
                                    <input type="number" id="pinCode" pInputText formControlName="pinCode">
                                    <label for="pinCode">PINCode / ZIP Code</label>
                                </span>
                                <small id="pinCode-help">{{ formError("pinCode" ,OrganizationForm)}}</small>
                            </div>
                        
                            <div class="field col-12 md:col-3">
                                <span class="p-float-label">
                                    <input type="number" id="phoneNumber" pInputText formControlName="phoneNumber">
                                    <label for="phoneNumber">Phone(LandLine)</label>
                                </span>
                                <small id="phoneNumber-help">{{ formError("phoneNumber" ,OrganizationForm)}}</small>
                            </div>
                        
                            <div class="field col-12 md:col-3">
                                <span class="p-float-label">
                                    <input type="text" id="fax" pInputText formControlName="fax">
                                    <label for="fax">Fax</label>
                                </span>
                                <small id="fax-help">{{ formError("fax" ,OrganizationForm)}}</small>
                            </div>
                        
                            <div class="field col-12 md:col-3">
                                <span class="p-float-label">
                                    <input type="number" id="mobileNumber" pInputText formControlName="mobileNumber">
                                    <label for="mobileNumber">Mobile</label>
                                </span>
                                <small id="mobileNumber-help">{{ formError("mobileNumber" ,OrganizationForm)}}</small>
                            </div>
                        
                        
                            <div class="field col-12 md:col-3">
                                <span class="p-float-label">
                                    <input type="email" id="email" pInputText formControlName="email">
                                    <label for="email">Email</label>
                                </span>
                                <small id="email-help">{{ formError("email" ,OrganizationForm)}}</small>
                            </div>
                        
                        
                            <div class="field col-12 md:col-3">
                                <span class="p-float-label">
                                    <input type="url" id="website" pInputText formControlName="website">
                                    <label for="website">Website</label>
                                </span>
                                <small id="website-help">{{ formError("website" ,OrganizationForm)}}</small>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Header II" class="line-height-3 m-0">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque.
                    </p-tabPanel>
                    <p-tabPanel header="Header III" class="line-height-3 m-0">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                        deleniti atque corrupti quos dolores.
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>

    </form>
</div>
