<div class="grid">
    <div class="col-12 md:col-12">
        <div class="card">
            <h5>ADD EMPLOYEE</h5>
            <p-tabView orientation="left">
                <p-tabPanel header="Profile" class="line-height-3 m-0">
                    <div class="grid p-fluid">
                        <div class="col-12 md:col-6">
                            <div class="flex flex-column align-items-center  surface-border p-6">
                                <img src="assets/demo/images/avatar/circle/avatar-f-1@2x.png" class="w-6rem h-6rem border-circle shadow-4"
                                    alt="Asiya Javayant">
                                <span class="text-900 text-xl font-semibold mt-4">Asiya Javayant</span>
                            </div>
                            <div class="card">
                                <h5>Personal Info</h5>
                                <div class="grid formgrid">
                                    <div class="field col-12 mb-2 lg:col-6 lg:mb-2">
                                        <label htmlFor="firstname2">Employee No</label>
                                        <input type="text" pInputText>
                                    </div>
                                    <div class="field col-12 mb-2 lg:col-6 lg:mb-2">
                                        <label htmlFor="firstname2">First Name</label>
                                        <input type="text" pInputText>
                                    </div>
                        
                                    <div class="field col-12 mb-2 lg:col-6 lg:mb-2">
                                        <label htmlFor="firstname2">Last Name</label>
                                        <input type="text" pInputText>
                                    </div>
                                    <div class="field col-12 mb-2 lg:col-6 lg:mb-2">
                                        <label htmlFor="firstname2">Nick Name</label>
                                        <input type="text" pInputText>
                                    </div>
                        
                                    <div class="field col-12 mb-2 lg:col-6 lg:mb-2">
                                        <label htmlFor="firstname2">Nick Name</label>
                                        <input type="text" pInputText>
                                    </div>
                        
                                    <div class="field col-12 mb-2 lg:col-6 lg:mb-2">
                                        <label htmlFor="firstname2">Gender</label>
                                        <input type="text" pInputText>
                                    </div>
                        
                                    <div class="field col-12 mb-2 lg:col-6 lg:mb-2">
                                        <label htmlFor="firstname2">DOB</label>
                                        <input type="text" pInputText>
                                    </div>
                        
                                    <div class="field col-12 mb-2 lg:col-6 lg:mb-4">
                                        <label htmlFor="firstname2">Age</label>
                                        <input type="text" pInputText>
                                    </div>
                                </div>
                        
                                <h5>Present Address</h5>
                                <div class="grid formgrid">
                                    <div class="field col-12 mb-2 lg:col-6 lg:mb-2">
                                        <label htmlFor="firstname2">Address 1</label>
                                        <input type="text" pInputText>
                                    </div>
                                    <div class="field col-12 mb-2 lg:col-6 lg:mb-2">
                                        <label htmlFor="firstname2">Address 2</label>
                                        <input type="text" pInputText>
                                    </div>
                        
                                    <div class="field col-12 mb-2 lg:col-6 lg:mb-2">
                                        <label htmlFor="firstname2">Address 3</label>
                                        <input type="text" pInputText>
                                    </div>
                                    <div class="field col-12 mb-2 lg:col-6 lg:mb-2">
                                        <label htmlFor="firstname2">City / Town</label>
                                        <input type="text" pInputText>
                                    </div>
                        
                                    <div class="field col-12 mb-2 lg:col-6 lg:mb-2">
                                        <label htmlFor="firstname2">State</label>
                                        <input type="text" pInputText>
                                    </div>
                        
                                    <div class="field col-12 mb-2 lg:col-6 lg:mb-2">
                                        <label htmlFor="firstname2">Country</label>
                                        <input type="text" pInputText>
                                    </div>
                        
                                    <div class="field col-12 mb-2 lg:col-6 lg:mb-2">
                                        <label htmlFor="firstname2">PIN</label>
                                        <input type="text" pInputText>
                                    </div>
                        
                                </div>
                        
                                <h5>Permanant Address</h5>
                                <div class="grid formgrid">
                                    <div class="field col-12 mb-2 lg:col-6 lg:mb-2">
                                        <label htmlFor="firstname2"></label>
                                        <input type="checkbox" value="Same as Present">
                                    </div>
                                    <div class="field col-12 mb-2 lg:col-6 lg:mb-2">
                                        <label htmlFor="firstname2">Address 1</label>
                                        <input type="text" pInputText>
                                    </div>
                                    <div class="field col-12 mb-2 lg:col-6 lg:mb-2">
                                        <label htmlFor="firstname2">Address 2</label>
                                        <input type="text" pInputText>
                                    </div>
                        
                                    <div class="field col-12 mb-2 lg:col-6 lg:mb-2">
                                        <label htmlFor="firstname2">Address 3</label>
                                        <input type="text" pInputText>
                                    </div>
                                    <div class="field col-12 mb-2 lg:col-6 lg:mb-2">
                                        <label htmlFor="firstname2">City / Town</label>
                                        <input type="text" pInputText>
                                    </div>
                        
                                    <div class="field col-12 mb-2 lg:col-6 lg:mb-2">
                                        <label htmlFor="firstname2">State</label>
                                        <input type="text" pInputText>
                                    </div>
                        
                                    <div class="field col-12 mb-2 lg:col-6 lg:mb-2">
                                        <label htmlFor="firstname2">Country</label>
                                        <input type="text" pInputText>
                                    </div>
                        
                                    <div class="field col-12 mb-2 lg:col-6 lg:mb-2">
                                        <label htmlFor="firstname2">PIN</label>
                                        <input type="text" pInputText>
                                    </div>
                        
                                </div>
                        
                            </div>
                        </div>
                    
                        <div class="col-12 md:col-6">
                            <div class="card">
                                <h5>Organizational Info</h5>
                                <div class="grid formgrid">
                                    <div class="col-12 md:col-6">
                                        <div class="field-radiobutton">
                                            <input type="text" pInputText placeholder="Default">
                                        </div>
                                    </div>
                                    <div class="col-12 md:col-6">
                                        <div class="field-radiobutton">
                                            <input type="text" pInputText placeholder="Default">
                                        </div>
                                    </div>

                                    <div class="col-12 md:col-6">
                                        <div class="field-radiobutton">
                                            <input type="text" pInputText placeholder="Default">
                                        </div>
                                    </div>
                                    <div class="col-12 md:col-6">
                                        <div class="field-radiobutton">
                                            <input type="text" pInputText placeholder="Default">
                                        </div>
                                    </div>
                                    
                                </div>
                               
                            </div>
                    
                           
                        </div>
                        
                     
                    </div>
                    
                </p-tabPanel>
                <p-tabPanel header="Education" class="line-height-3 m-0">
                    <div class="col-12 md:col-6">
                        <div class="card p-fluid">
                            <h5>Horizontal</h5>
                            <div class="field grid">
                                <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Name</label>
                                <div class="col-12 md:col-10">
                                    <input pInputText id="name3" type="text" />
                                </div>
                            </div>
                            <div class="field grid">
                                <label htmlFor="email3" class="col-12 mb-2 md:col-2 md:mb-0">Email</label>
                                <div class="col-12 md:col-10">
                                    <input pInputText id="email3" type="text" />
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <h5>Inline</h5>
                            <div class="formgroup-inline">
                                <div class="field">
                                    <label htmlFor="firstname1" class="p-sr-only">Firstname</label>
                                    <input pInputText id="firstname1" type="text" placeholder="Firstname" />
                                </div>
                                <div class="field">
                                    <label htmlFor="lastname1" class="p-sr-only">Lastname</label>
                                    <input pInputText id="lastname1" type="text" placeholder="Lastname" />
                                </div>
                                <button pButton label="Submit"></button>
                            </div>
                        </div>

                        <div class="card">
                            <h5>Help Text</h5>
                            <div class="field p-fluid">
                                <label htmlFor="username">Username</label>
                                <input pInputText id="username" type="text" />
                                <small>Enter your username to reset your password.</small>
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Work" class="line-height-3 m-0">
                    <div class="col-6">
                        <div class="card">
                            <h5>Advanced</h5>
                            <div class="p-fluid p-formgrid grid">
                                <div class="field col-12 md:col-6">
                                    <label htmlFor="firstname2">Firstname</label>
                                    <input pInputText id="firstname2" type="text" />
                                </div>
                                <div class="field col-12 md:col-6">
                                    <label htmlFor="lastname2">Lastname</label>
                                    <input pInputText id="lastname2" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <h5>Advanced</h5>
                            <div class="p-fluid p-formgrid grid">
                                <div class="field col-12 md:col-6">
                                    <label htmlFor="firstname2">Firstname</label>
                                    <input pInputText id="firstname2" type="text" />
                                </div>
                                <div class="field col-12 md:col-6">
                                    <label htmlFor="lastname2">Lastname</label>
                                    <input pInputText id="lastname2" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>

                </p-tabPanel>
            </p-tabView>
        </div>
    </div>

</div>