<div class="card">
    <h4>MISC DETAIL</h4>
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <div class="my-2">
            </div>
        </ng-template>

        <ng-template pTemplate="right">
            <button pButton pRipple icon="pi pi-save" class="p-button-success mr-2" (click)="Save()"
                [disabled]="!MiscDetailForm.valid">{{buttonText}}</button>

            <button pButton pRipple label="Clear" icon="pi pi-refresh" class="p-button-warning"
                (click)="Clear()"></button>
        </ng-template>
    </p-toolbar>
    <p-toast></p-toast>

    <form [formGroup]="MiscDetailForm" style="margin-top: 10px;">
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-4">
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                  
                    <p-autoComplete id="selectedMiscName" formControlName="selectedMiscName"
                        [suggestions]="filteredMiscList" (completeMethod)="filterMisc($event)" field="name"
                        (onSelect)="onSelectMiscName()"
                        [forceSelection]="true" [dropdown]="true"
                        [inputStyle]="{'background':'#E8F0FE'}"></p-autoComplete>
                    <label for="selectedMiscName">Name<span class="mandatory">*</span></label>
                </span>
                <small id="selectedMiscName-help">{{ formError("name" ,MiscDetailForm)}}</small>
            </div>
            <div class="field col-12 md:col-4">
            </div>
        </div>
    </form>
</div>

<div class="card">

    <p-table #dt [value]="filteredMiscDetailList" [columns]="cols" resposiveLayout="scroll" [rows]="10"
        [globalFilterFields]="['miscDtlName','miscDtlDesc']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
        [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <h4 class="m-0"> </h4>
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                        class="w-full sm:w-auto" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width:10% !important" class="text-center">
                    <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-success mr-2" (click)="AddRows()"></button>
                </th>
                <th style="width:10% !important" class="text-center">Edit</th>
                <th style="width:5% !important" class="text-center">S.No</th>
                <th style="width:30% !important" class="text-center">Detail Name <span class="mandatory">*</span> 
                </th>
                <th style="width:25% !important" class="text-center">Description</th>
                <th style="width:10% !important" class="text-center">Created By</th>
                <th style="width:10% !important" class="text-center">Created Dt</th> 
             </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-item let-i="rowIndex">
            <tr>

                <td style="width:10% !important" class="text-center">
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="RemoveRows(item,i)"></button>
                </td>

                <td style="width:10% !important" class="text-center">
                    <section>
                        <label class="checkbox">
                            <p-checkbox name="chkEdit" id="chkEdit" [(ngModel)]="item.edit" [binary]="true" inputId="binary"></p-checkbox>
                            <i></i>
                        </label>
                    </section>
                </td>

                <td style="width:5% !important" class="text-center">{{i+1}}</td>

                <td style="width:30% !important">
                    <input pInputText type="text"  [disabled]="!item.edit" id="txtmiscDtlName"
                     name="txtmiscDtlName" [(ngModel)]="item.miscDtlName" style="width: 100% !important;">
                </td>

                <td style="width:25% !important" class="text-center">
                    <input pInputText type="text"  [disabled]="!item.edit" id="txtDescription"
                     name="txtDescription" [(ngModel)]="item.miscDtlDesc" style="width: 100% !important;">
                </td>

                <td style="width:10% !important" class="text-center">Admin</td>
                <td style="width:10% !important" class="text-center">01.01.2024</td>
            </tr>
        </ng-template>
        
    </p-table>
</div>
