<div class="card">
    <h4>ACADEMIC YEAR</h4>

    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <div class="my-2">
            </div>
        </ng-template>

        <ng-template pTemplate="right">
            <button pButton pRipple icon="pi pi-save" class="p-button-success mr-2" (click)="Save()"
                [disabled]="!AcademicYearForm.valid">{{buttonText}}</button>

            <button pButton pRipple label="Clear" icon="pi pi-refresh" class="p-button-warning"
                (click)="Clear()"></button>
        </ng-template>
    </p-toolbar>

    <p-toast></p-toast>

    <form [formGroup]="AcademicYearForm" style="margin-top: 10px;">
        <div class="grid p-fluid mt-3">

            <div class="field col-12 md:col-2">
                <span class="p-float-label">
                    <p-calendar id="calStartDate" formControlName="startDate" [showIcon]="true"
                        [showButtonBar]="true"></p-calendar>
                    <label for="calStartDate">Start Date<span class="mandatory">*</span></label>
                </span>
                <small>{{ formError("startDate" ,AcademicYearForm)}}</small>
            </div>

            <div class="field col-12 md:col-2">
                <span class="p-float-label">
                    <p-calendar id="calEndDate" formControlName="endDate" [showIcon]="true"
                        [showButtonBar]="true"></p-calendar>

                    <label for="calEndDate">End Date<span class="mandatory">*</span></label>
                </span>
                <small>{{ formError("endDate" ,AcademicYearForm)}}</small>
            </div>

            <div class="field col-12 md:col-2">
                <span class="p-float-label">
                    <p-calendar id="calmonth" formControlName="month" view="month" [showIcon]="true"
                    dateFormat="MM" [showButtonBar]="true"></p-calendar>

                    <label for="calmonth">Month<span class="mandatory">*</span></label>
                </span>
                <small>{{ formError("month" ,AcademicYearForm)}}</small>
            </div>

            <div class="field col-12 md:col-2">
                <span class="p-float-label">
                    <p-calendar id="txtAcademicYear" formControlName="academicYear" view="year" dateFormat="yy"
                        selectionMode="range" [showIcon]="true"></p-calendar>
                    <label for="txtAcademicYear">Academic Year<span class="mandatory">*</span></label>
                </span>
                <small>{{ formError("academicYear" ,AcademicYearForm)}}</small>
            </div>

            <div class="field col-12 md:col-2">
                <span class="p-float-label">
                    <p-calendar id="calaccountYear" formControlName="accountYear" view="year" dateFormat="yy"
                        [showIcon]="true"></p-calendar>
                    <label for="calaccountYear">Account Year<span class="mandatory">*</span></label>
                </span>
                <small>{{ formError("accountYear" ,AcademicYearForm)}}</small>
            </div>



            <div class="field col-12 md:col-2 flex flex-wrap gap-2">
                <div *ngFor="let category of categories" class="field-checkbox">
                    <p-radioButton [inputId]="category.key" [value]="category"
                        formControlName="isDefault"></p-radioButton>
                    <label [for]="category.key" class="ml-2">{{ category.name }}</label>
                </div>
            </div>


        </div>
    </form>
</div>


<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-table #dt [value]="items" [columns]="cols" resposiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['academicYear']" [rows]="10" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedItems" selectionMode="multiple" [rowHover]="true" dataKey="id">




                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h4 class="m-0"> </h4>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            S.No
                        </th>
                        <th pSortableColumn="startDate">Start Date<p-sortIcon field="startDate"></p-sortIcon></th>
                        <th pSortableColumn="endDate">End Date<p-sortIcon field="endDate"></p-sortIcon></th>
                        <th pSortableColumn="month">Month<p-sortIcon field="month"></p-sortIcon></th>
                        <th pSortableColumn="academicYear">Academic Year<p-sortIcon field="academicYear"></p-sortIcon>
                        </th>
                        <th pSortableColumn="accountYear">Account Year<p-sortIcon field="accountYear"></p-sortIcon></th>
                        <th>Action</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-item>
                    <tr>

                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{item.academicYearId}}
                        </td>


                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{item.startDate}}
                        </td>

                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{item.endDate}}
                        </td>

                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{item.month}}
                        </td>

                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{item.academicYear[0] | date : "yyyy"}} - {{item.academicYear[1] | date : "yyyy"}}
                        </td>
                        <td style="width:5%; min-width:10rem;">
                            {{item.accountYear | date : "yyyy"}}
                        </td>


                        <td style="width:15%; min-width:10rem;">
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2" (click)="Edit(item)"></button>

                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="Delete(item)"></button>
                            </div>
                        </td>

                    </tr>
                </ng-template>

            </p-table>

        </div>

        <p-dialog [(visible)]="deleteDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="item">Are you sure you want to delete <b>{{item.academicYear}}</b>?</span>
            </div>

            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

    </div>

</div>