<div class="card">
    <h4>MISC</h4>

    <p-toolbar styleClass="mb-4">

        <ng-template pTemplate="left">
            <div class="my-2">
            </div>
        </ng-template>

        
        <ng-template pTemplate="right">
            <button pButton pRipple icon="pi pi-save" class="p-button-success mr-2" id="PMSMiscSaveUpdate" (click)="Save()"
                [disabled]="!PMSMiscForm.valid">{{buttonText}}</button>

            <button pButton pRipple label="Clear" icon="pi pi-refresh" class="p-button-warning" id="PMSMiscClear"
                (click)="Clear()"></button>
        </ng-template>

    </p-toolbar>

   <p-toast></p-toast>

   <form [formGroup]="PMSMiscForm" style="margin-top: 10px;">
    <div class="grid p-fluid mt-3">

        <div class="field col-12 md:col-6">
            <span class="p-float-label">
                <input id="name" pInputText formControlName="name" autocomplete="off">
                <label for="name">Name<span class="mandatory">*</span></label>
            </span>
            <small id="name-help">{{ formError("name" ,PMSMiscForm)}}</small>
        </div>

        <div class="field col-12 md:col-6">
            <span class="p-float-label">
                <input id="description" pInputText formControlName="description" autocomplete="off">
                <label for="description">Description<span class="mandatory">*</span></label>
            </span>
            <small id="description-help">{{ formError("description" ,PMSMiscForm)}}</small>
        </div>

    </div>
</form>

</div>
