<div class="card">
    <h4>PAGE CREATION</h4>

    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <div class="my-2">
            </div>
        </ng-template>

        <ng-template pTemplate="right">
            <button pButton pRipple icon="pi pi-save" class="p-button-success mr-2"
                [disabled]="!PageCreationInfoForm.valid" (click)="Save()">{{buttonText}}</button>
            <button pButton pRipple label="List" icon="pi pi-align-justify" class="p-button-primary mr-2"
                (click)="RedirecttoList()"></button>
            <button pButton pRipple label="Clear" icon="pi pi-refresh" class="p-button-warning"
                (click)="Clear()"></button>
        </ng-template>
    </p-toolbar>
    <p-toast></p-toast>
    <form [formGroup]="PageCreationInfoForm" style="margin-top: 10px;">
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-3">
                <span class="p-float-label">
                    <p-dropdown id="ddlApplication" formControlName="application" [options]="ApplicationList"
                        optionLabel="applicationName" [autoDisplayFirst]="false" [showClear]="true"
                        (onChange)="onChangeApplicationName($event)">
                    </p-dropdown>
                    <label for="ddlApplication">Application Name<span class="mandatory">*</span></label>
                </span>
                <small id="ddlApplication-help">{{formError("application",PageCreationInfoForm)}}</small>
            </div>

            <div class="field col-12 md:col-3">
                <span class="p-float-label">
                    <p-dropdown id="ddlModuleName" formControlName="moduleName" [options]="filteredModuleList"
                        optionLabel="moduleName" [autoDisplayFirst]="false" [showClear]="true"></p-dropdown>
                    <label for="ddlModuleName">Module Name<span class="mandatory">*</span></label>
                </span>
                <small id="ModuleName-help">{{ formError("moduleName" ,PageCreationInfoForm)}}</small>
            </div>


            <div class="field col-12 md:col-3">
                <span class="p-float-label">
                    <input type="text" id="pageName" pInputText formControlName="pageName">
                    <label for="pageName">Page Name<span class="mandatory">*</span></label>
                </span>
                <small id="pageName-help">{{ formError("pageName" ,PageCreationInfoForm)}}</small>
            </div>


            <div class="field col-12 md:col-3">
                <span class="p-float-label">
                    <input type="text" id="pageURL" pInputText formControlName="pageURL">
                    <label for="pageURL">Page URL</label>
                </span>
                <small id="pageURL-help">{{ formError("pageURL" ,PageCreationInfoForm)}}</small>
            </div>


            <div class="field col-12 md:col-3">
                <span class="p-float-label">
        

                    <p-autoComplete formControlName="mainPageName" [suggestions]="filteredMainPageList"
                        (completeMethod)="filterMagePage($event)" [minLength]="0" [dropdown]="true" [forceSelection]="true"
                        field="mainPageName"></p-autoComplete>

                    <label for="mainPageName">Main Page Name</label>
                </span>
          </div>


            <div class="field col-12 md:col-3">
                <span class="p-float-label">
                    <input type="text" id="orderBy" pInputText formControlName="orderBy">
                    <label for="orderBy">Order By<span class="mandatory">*</span></label>
                </span>
                <small id="orderBy-help">{{ formError("orderBy" ,PageCreationInfoForm)}}</small>
            </div>


            <div class="field col-12 md:col-3">
                <span class="p-float-label">
                    <input type="text" id="iconStyle" pInputText formControlName="iconStyle">
                    <label for="iconStyle">Icon / Font Style<span class="mandatory">*</span></label>
                </span>
                <small id="iconStyle-help">{{ formError("iconStyle" ,PageCreationInfoForm)}}</small>
            </div>

            <div class="field col-12 md:col-2 flex flex-wrap gap-2">
                <div tooltipPosition="bottom" pTooltip="Yes, Only for Direct Menu / SubModule" *ngFor="let category of categories" class="field-checkbox">
                    <p-radioButton [inputId]="category.key" [value]="category"
                        formControlName="isMenu"></p-radioButton>
                    <label [for]="category.key"  class="ml-2">{{ category.name }}</label>
                </div>
            </div>

        </div>
    </form>
</div>

<app-page-list></app-page-list>