<div class="card">
    <h5>PAGE CREATION</h5>
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <div class="my-2">
                <button pButton pRipple label="Save" icon="pi pi-plus" class="p-button-success mr-2"
                    (click)="saveUsers()"></button>
                <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"></button>
            </div>
        </ng-template>

        <ng-template pTemplate="right">
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>

    <div class="grid p-fluid mt-3">

        <div class="field col-12 md:col-4">
            <span class="p-float-label">
                <p-autoComplete inputId="txtApplication" [(ngModel)]="value2" [suggestions]="filteredCountries"
                    (completeMethod)="searchCountry($event)" field="name" 
                    [ngClass]="{'ng-invalid ng-dirty' : submitted && !value2}"></p-autoComplete>
                <label for="txtApplication">Application Name<span class="mandatory">*</span></label>
            </span>
            <!-- <small class="ng-dirty ng-invalid" *ngIf="submitted && !value2">Name is required.</small> -->
        </div>

        <div class="field col-12 md:col-4">
            <span class="p-float-label">
                <p-autoComplete inputId="txtModule" [(ngModel)]="value2" [suggestions]="filteredCountries"
                    (completeMethod)="searchCountry($event)" field="name"></p-autoComplete>
                <label for="txtEModule">Module Name</label>
            </span>
        </div>

        <div class="field col-12 md:col-4">
            <span class="p-float-label p-input-icon-right">
                <input type="text" id="txtPageName" pInputText [(ngModel)]="value4">
                <label for="txtPageName">Page Name</label>
                <i class="pi pi-eye"></i>
            </span>
        </div>

        <div class="field col-12 md:col-4">
            <span class="p-float-label p-input-icon-right">
                <input type="text" id="txtPageURL" pInputText [(ngModel)]="value4">
                <label for="txtPageURL">Page URL</label>
                <i class="pi pi-eye"></i>
            </span>
        </div>

        <div class="field col-12 md:col-4">
            <span class="p-float-label">
                <p-autoComplete inputId="txtMainMenu" [(ngModel)]="value2" [suggestions]="filteredCountries"
                    (completeMethod)="searchCountry($event)" field="name"></p-autoComplete>
                <label for="txtMainMenu">Main Menu Name</label>
            </span>
        </div>

        <div class="field col-12 md:col-4">
            <span class="p-float-label p-input-icon-right">
                <input type="text" id="txtMenuIcon" pInputText [(ngModel)]="value4">
                <label for="txtMenuIcon">Menu Icon</label>
                <i class="pi pi-eye"></i>
            </span>
        </div>

        <div class="field col-12 md:col-4">
            <div class="field-checkbox">
                <p-checkbox name="group1" value="Berlin" [(ngModel)]="valCheck" id="ny"></p-checkbox>
                <label for="ny">Sub Menu</label>
            </div>
        </div>

        <div class="field col-12 md:col-4">
            <span class="p-float-label">
                <p-multiSelect inputId="multiselect" [options]="cities" [(ngModel)]="value11" optionLabel="name"
                    [filter]="false"></p-multiSelect>
                <label for="multiselect">Unit/Branch</label>
            </span>
        </div>




    </div>
</div>